<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <title>Login</title>
    <style>
        .error-message {
            color: red;
            margin-top: 10px;
        }
    </style>
    <script>
        // Function to display an alert when the email or password is incorrect
        function showAlert() {
            var errorMessages = document.querySelectorAll('.error-message p');
            if (errorMessages.length > 0) {
                alert(errorMessages[0].innerText);
            }
        }
    </script>
</head>
<body>
    <form action="{{ url_for('login') }}" method="POST" onsubmit="showAlert()">
        <h2>Log in to discover amazing books !</h2>
        <div>
            <input placeholder="Enter your email" type="email" id="email" name="email" required>
        </div>
        <div>
            <input placeholder="Enter your password" type="password" id="password" name="password" required>
        </div>
        {% if messages %}
        <div class="error-message">
            <p>{{ messages[0] }}</p> <!-- Display the first error message -->
        </div>
        {% endif %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit">Login</button>
        <div>
            <a href="{{ url_for('register') }}">Don't have an account? Register</a>
        </div>
    </form>
</body>
</html>
